@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;1,100&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@300;400;500;700&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* 
main {
    width: 1440px;
    margin: 0px auto;
} */

section {
    margin: 80px 0;
}

.stop-color {
    color: #FF42A5;
}

/* shared style  */

nav {
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* border: 1px solid blue; */

}

.nav-container {
    max-width: 1200px;
    display: flex;
    margin: 0px auto;
    align-items: center;
    padding: 35px 0;
}

.logo-container {
    width: 50%;
    display: flex;
    align-items: center;
}

.manus-container {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.logo {
    width: 5.3rem;
    height: 40px;
    flex-shrink: 0;
    color: #FF42A5;
}

.logo-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.manus-container ul {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.manus-container ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manus-container ul li a {
    text-decoration: none;
}

.manus-container ul li:last-child {

    width: 250px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid;
    background: rgba(11, 2, 35, 0.10);
}

.fa-youtube {
    color: red;
    margin-right: 10px;
    margin-left: 10px;
}

.fa-tiktok {
    color: green;
}

/* navbar style end  */
/* banner style start  */

.banner-container {
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
}

.banner-background {
    width: 50%;
    background-image: url('../images/Group\ 14.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-img {
    width: 50%;
}

.banner-main-content {
    display: flex;
}

.banner-content {
    padding-top: 80px;

}

.banner-content .btn {
    margin-top: 10px;
}

.banner-img img {
    width: 100%;
}

.banner-content-h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content-h1 {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon {
    width: 30xp;
    height: 30px;
    background-color: red;
}

.banner-content>p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 10px;
}

.fa-person,
.fa-download,
.fa-circle-play {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.btn {
    padding: 21px 40px;
    border: none;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-go {
    padding: 21px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
}

/* banner end start  */
/* gammer style start  */

/* .we-are-gamer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.we-are-gamer-content {
    width: 50%;
}

.we-are-gamer-img {
    width: 50%;
}

.gamer-img {
    width: 100%;
}

.gamer-h2 {

    font-family: Work Sans;
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gamer-para {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 30px;
    margin: 1rem 0;
    /* 166.667% */


/* .gamer-h4 {
    color: #534C64;
    font-size: 2rem;

    font-weight: 700;
}

.our-purpose {


    color: #534C64;

    font-size: 1.5rem;
    font-weight: 500;

}  */

/* gammer style end  */

/* video style start  */
.video-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

.single-video-card {
    width: 100%;
    position: relative;
}

.card-img {
    width: 290px;
}

.section-title {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.funny-videos {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-para {
    color: #534C64;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.play-icon {
    position: absolute;
    top: 130px;
    left: 110px;
    margin: 0 auto;
    color: #fff;
    font-size: 60px;
    text-align: center;
}
.single-video-card.play-button{
    background-color:linear-gradient(rgb(0, 0, 0)rgba(0,0,0,.1));
}

.fa-circle-play {}

/* video style end  */

/* no download style start  */
.no-download-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.no-download-content {
    width: 40%;
    text-align: right;
    padding-right: 90px;
}

.no-download-img {
    width: 60%;
    position: relative;
    border: 1px solid blue;

}

.img-div {
    width: 100%;
    text-align: right;
}

.img1 {
    width: 100%;
}

.icon-img {
    width: 250px;
}

.no-download-content>h2 {
    text-align: right;
    font-size: 3rem;
    font-weight: 700;
    /* 125% */
}

.no-download-content>p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 400;
    margin-top: 20px;
}

.play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small-div {
    width: 8px;
    position: absolute;
    top: 415px;
}

/* no download style end  */

/* small card style start   */
.small-card-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 120px 0;
}

.small-card-container {
    max-width: 1200px;
    margin: 0 auto;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.small-card {
    padding: 2px 5px;
    border-radius: 50px;
    background-color: #FFF;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.small-card>span {
    margin-left: .5rem;
}

.active-small-card {
    border: 1px solid #FF42A5;
    color: #FF42A5;
    border-radius: 50px;
    background-color: #FFF;
}

.small-card:hover {
    border: 1px solid #FF42A5;
    color: #FF42A5;
    border-radius: 50px;
    background-color: #FFF;
    box-sizing: border-box;

}

.action {
    /* border: 1px solid red; */
}

/* small card style end   */

/* footer style start  */
footer {
    background: #0B0223;
    padding: 100px 0;
}

.footer-container {
    color: #FFF;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.our-story {
    display: flex;
    justify-content: center;
    gap: 2.6rem;
    flex-wrap: wrap;
}

.social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    cursor: pointer;
}

.footer-container .term-and-condition {
    margin-bottom: 1rem;
}

.term-and-condition {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}

.social-icons .fa-brands {
    font-size: 2.2rem;
}

.footer-container>div {
    margin-bottom: 2rem;
}

/* footer style start  */



/* responsive start here  */
/* navbar responsive for mobile  */
@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .logo-container {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .manus-container {
        width: 100%;
        flex-direction: column;
    }

    .manus-container ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

/* navbar responsive for tablet */

@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container {
        flex-direction: column;
    }

    .logo-container {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .manus-container {
        width: 100%;
        flex-direction: column;
    }

    .manus-container ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

/* banner section responsive for mobile  */
@media screen and (max-width:576px) {
    .banner-container {
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        flex-direction: column-reverse;
    }

    .banner-background {
        width: 100%;
        background-image: url('../images/Group\ 14.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-main-content {
        width: 100%;
        align-items: center;
        justify-content: start;
    }

    .banner-content {
        width: 100%;
        text-align: start;
        padding: 20px 20px;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img img {
        width: 100%;
    }
}

/* banner section responsive for tablet  */

@media screen and (min-width:576px) and (max-width:992px) {
    .banner-container {
        /* display: flex; */
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        margin-top: 1rem;
        flex-direction: column-reverse;
    }

    .banner-background {
        width: 100%;
        background-image: url('../images/Group\ 14.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-content {
        width: 100%;
        text-align: center;
    }

    .banner-img {
        width: 100%;
    }

    .banner-img img {
        width: 100%;
    }
}

/* gamer responsive  */

@media screen and (max-width:576px) {
    .we-are-gamer-container {
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
    }

    .we-are-gamer-content {
        width: 100%;
    }

    .we-are-gamer-img {
        width: 100%;
    }

    .gamer-img {
        width: 100%;
        border: 1px solid;
    }

    .gamer-img img {
        width: 100%;
    }
}

/* video container section responsive for mobile  */
@media screen and (max-width:576px) {
    .video-container {
        flex-direction: column;
        align-self: center;
    }

    .single-video-card {
        padding: 20px;
        text-align: center;
    }

    .single-video-card>p {
        padding: 0 20px;
    }

    .single-video-card.card-img {
        width: 100%;
    }
}

/* video container section responsive for tablet  */
@media screen and (min-width:576px) and (max-width:992px) {
    .video-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .single-video-card {
        align-self: center;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-align: center;
    }

    .single-video-card>p {
        padding: 0 20px;
    }
}

/* card responsive end */
/* no download section responsive for mobile  */
@media screen and (max-width: 576px) {
    .no-download-container {
        flex-direction: column;
        margin: 0 20px;
    }

    .no-download-content {
        width: 100%;
        text-align: center;
        padding-right: 20px;
    }

    .no-download-img {
        width: 100%;
        position: relative;
        border: 1px solid blue;
    }

    .no-download-content>h2 {
        text-align: center;
    }

    .no-download-content>p {
        padding-bottom: 2rem;
    }

    .img-div {
        width: 100%;
        overflow: hidden;
    }
}

/* no download section responsive for tablet  */

@media screen and (min-width:576px) and (max-width:992px) {
    .no-download-container {
        flex-direction: column;
        margin: 0 20px;
    }

    .no-download-content {
        width: 100%;
        text-align: center;
        padding-right: 20px;
    }

    .no-download-img {
        width: 100%;
        position: relative;
    }

    .no-download-content>h2 {
        text-align: center;
    }

    .no-download-content>p {
        padding-bottom: 2rem;
    }


}

/* no download section responsive end  */

/* small card section responsive for mobile start  */
@media screen and (max-width:576px) {
    .small-card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
        padding: 0.6rem;
        row-gap: 2rem;
    }

    .small-card {
        font-size: .6rem;
        font-weight: 600;
        justify-content: space-between;
        padding: 2px 6px;

    }

}

/* small card section responsive for tablet start  */
@media screen and (min-width:576px) and (max-width:992px) {
    .small-card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: .5rem;
        padding: 0.6rem;
        row-gap: 2rem;
    }

    .small-card {
        font-size: 1.25rem;
        font-weight: 600;
        justify-content: space-between;
        padding: 2px 12px;

    }

}

/* small card section responsive end  */

/* footer responsive for mobile start  */
@media screen and (max-width:576px) {
    footer {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .our-story {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .social-icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: rem;
        row-gap: 2rem;
    }

    .term-and-condition {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        margin-bottom: 2rem;
    }
}

/* footer responsive end  */